{% include "included/layout.html" %}
{% load static %}
{% block body %}
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->
	
	<!--header-top start -->
	<header id="header-top" class="header-top">
		<ul>
			<li>
				<div class="header-top-left">
					<ul>
						<li class="select-opt">
							<select name="language" id="language">
								<option value="default">TR</option>
								<option value="German">DE</option>
							</select>
						</li>
						<li class="select-opt">
							<select name="currency" id="currency">
								<option value="try">TRY</option>
								<option value="euro">EUR</option>
							</select>
						</li>
						
					</ul>
				</div>
			</li>
			<li class="head-responsive-right pull-right">
				<div class="header-top-right">
					<ul>
						<li class="header-top-contact">
							+1 222 333 444
						</li>
						<li class="header-top-contact">
							+90 222 333 444
						</li>
					</ul>
				</div>
			</li>
		</ul>
				
	</header><!--/.header-top-->
	<!--header-top end -->

	<!-- top-area Start -->
	<section class="top-area">
		<div class="header-area">
			<!-- Start Navigation -->
			<nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

				<div class="container">

					<!-- Start Header Navigation -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
							<i class="fa fa-bars"></i>
						</button>
						<a class="navbar-brand" href="{% url 'index' %}">Logo<span>Logo</span></a>

					</div><!--/.navbar-header-->
					<!-- End Header Navigation -->

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
						<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
							<li class=" scroll active"><a href="#home">home</a></li>
							<li class="scroll"><a href="#works">how it works</a></li>
							<li class="scroll"><a href="#reviews">review</a></li>
							<li class="scroll"><a href="#aboutus">About Us</a></li>
							<li class="scroll"><a href="#contact">contact</a></li>
							<li class="scroll"><a href="#career" style="color: #0EF6CC;">Career</a></li>
							<li class="scroll"><button class="navbar-btn"type="button">Login<span>/Register</span></button></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!--/.container-->
			</nav><!--/nav-->
			<!-- End Navigation -->
		</div><!--/.header-area-->
		<div class="clearfix"></div>

	</section><!-- /.top-area-->
	<!-- top-area End -->

	<!--blog start -->
	<section id="aboutus" class="blog" >
		<div class="container">
			<div class="section-header">
				<h2>Login/Register</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
			</div><!--/.section-header-->
			<div class="blog-content">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="single-blog-item">
							<div class="single-blog-item-img">
								<img src="{% get_media_prefix %}images/blog/cargo.png" alt="blog image">
							</div>
							<div class="single-blog-item-txt">
								<h1 style="color: #0EF6CC; font-size: 40px;">Login</h1>
								<h2><a href="#">Lorem ipsum dolor sit amet.</a></h2>
								<h4></h4>
								<!-- <h4>posted <span>by</span> <a href="#">admin</a> march 2018</h4> -->
								<p>
								</p>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="subscription-input-group">
										<form action="#">
											<input type="email" class="subscription-input-form" placeholder="Enter your email here">
											<input type="email" class="subscription-input-form" placeholder="Enter your email here">
										</form>
									</div>
								</div>	
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="subscription-input-group" style="margin-top: 20px;">
										<form action="#">

											<button class="appsLand-btn subscribe-btn" onclick="window.location.href='#'">
												Contact
											</button>
										</form>
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="single-blog-item">
							<div class="single-blog-item-img">
								<img src="{% get_media_prefix %}images/blog/cargo3.jpeg" alt="blog image">
							</div>
							<div class="single-blog-item-txt">
								<h1 style="color: #0EF6CC; font-size: 40px;">Register</h1>
								<h2><a href="#">Lorem ipsum dolor sit amet.</a></h2>
								<h4></h4>
								<!-- <h4>posted <span>by</span> <a href="#">admin</a> march 2018</h4> -->
								<p>
									Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna.
								</p>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="subscription-input-group">
										<form action="#">
											<input type="email" class="subscription-input-form" placeholder="Enter your email here">
											<input type="email" class="subscription-input-form" placeholder="Enter your email here">
											<input type="email" class="subscription-input-form" placeholder="Enter your email here">
											<input type="email" class="subscription-input-form" placeholder="Enter your email here">
											
											
										</form>
									</div>
								</div>	
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="subscription-input-group" style="margin-top: 20px;">
										<form action="#">

											<button class="appsLand-btn subscribe-btn" onclick="window.location.href='#'">
												Contact
											</button>
										</form>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.container-->
		
	</section><!--/.blog-->
	<!--blog end -->

	<!--subscription strat -->
	<section id="contact"  class="subscription">
		<div class="container">
			<div class="subscribe-title text-center">
				<h2>
					do you want to work with us?
				</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, reiciendis?
				</p>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="subscription-input-group">
						<form action="#">
							<input type="email" class="subscription-input-form" placeholder="Enter your email here">
							
							
						</form>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="subscription-input-group" style="margin-top: 20px;">
						<form action="#">
							<input type="email" class="subscription-input-form" placeholder="Message here">
							<button class="appsLand-btn subscribe-btn" onclick="window.location.href='#'">
								Contact
							</button>
							
						</form>
					</div>
				</div>	
			</div>
		</div>

	</section><!--/subscription-->	
	<!--subscription end -->

	<!--footer start-->
	<footer id="footer"  class="footer">
		<div class="container">
			<div class="footer-menu">
				<div class="row">
					<div class="col-sm-3">
							<div class="navbar-header">
							<a class="navbar-brand" href="index.html">Logo<span>Logo</span></a>
						</div><!--/.navbar-header-->
					</div>
					<div class="col-sm-9">
						<ul class="footer-menu-item">
							<li class="scroll"><a href="#works">how it works</a></li>
							
							<li class="scroll"><a href="#reviews">review</a></li>
							<li class="scroll"><a href="#blog">About Us</a></li>
							<li class="scroll"><a href="#contact">contact</a></li>
							<li class=" scroll"><a href="#career">Career</a></li>
							<li class=" scroll"><a href="#contact">my account</a></li>
						</ul><!--/.nav -->
					</div>
				</div>
			</div>
			<div class="hm-footer-copyright">
				<div class="row">
					<div class="col-sm-5">
						<p>
							&copy;copyright. designed and developed by Berenalp & Merve</a>
						</p><!--/p-->
					</div>
					<div class="col-sm-7">
						<div class="footer-social">
							<span><i class="fa fa-phone"> +1 (222) 333 4444</i></span>
							<span><i class="fa fa-phone"> +90 (222) 333 4444</i></span>
							<a href="#"><i class="fa fa-facebook"></i></a>	
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				
			</div><!--/.hm-footer-copyright-->
		</div><!--/.container-->

		<div id="scroll-Top">
			<div class="return-to-top">
				<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
			</div>
			
		</div><!--/.scroll-Top-->
		
	</footer><!--/.footer-->
	<!--footer end-->
{% endblock body %}